.onebudget {
    display: flex;
    border-top: 1px solid gray;
    position: relative;
    /* right: 41vh; */
    top: 13vh;
    flex-direction: column;
    width: 86.4vw;
    /* border: 3px solid red; */
    /* overflow: auto */
}


#number {
    color: rgb(88, 134, 151);
    font-weight: 900;
}

hr {
    width: 20vw;
    position: relative;
    left: 1.5vw;
}

.budget-info {
    /* border:1px solid red; */
    width: 15vw;
    position: absolute;
    left: 62vw;
    display: flex;
    flex-direction: column;
    height: 85vh;
    justify-content: space-evenly;
    text-transform: uppercase;
    /* font-size: 200rem; */
    color: rgb(88, 134, 151);
}

#budgeted {
    position: absolute;
    left:21.5vw;
}

#activity {
    position: absolute;
    left:38vw;
}

#available {
    position: absolute;
    right:27vw;
}

#total-budgeted {
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 3.5vw;
}

#total-balance {
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 3.5vw;
}

#total-inflow {
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 3.5vw;
}


.top-labels {
    display: flex;
    /* border:1px solid red; */
    justify-content: space-between;
    align-items: center;
    /* margin: 0; */
    position: relative;
    /* right: 10px; */
    width: 59.45vw;
}

#category-label {
    display: flex;
    /* border: 1px solid green; */
    position: relative;
    left: 1vw;
}

#available-label {
    display: flex;
    position: relative;
    right: 1vw
}

.category-list {
    display: flex;
    border-top: grey;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: .4vw;
    background-color: #E5F5F9;
    width: 59.04vw;
    font-size: 15px;
}



.budgetlist {
    /* color: green; */
    position: absolute;
    top: 29vh;
    display: flex;
    flex-direction: column;
    /* font-size: 15px; */
    /* left:20vw */
}

.budgetlist>input {
    display: flex;
    /* border: 3px solid red; */
    position: relative;
    /* left: 5vw; */
    /* top: 50vh; */
}

#immediate-obligations {
    display: flex;
    border-top: .1px solid grey;

}

#immediate-obligations>input {
    font-size: 5px;
    position: relative;
    left: 10vw;
    /* border: 1px solid red; */
}

#true-expenses {
    display: flex;
    border-top: .1px solid grey;

}

#debt-payments {
    display: flex;
    border-top: .1px solid grey;

}

#quality-of-life-goals {
    display: flex;
    border-top: .1px solid grey;
}

#just-for-fun {
    display: flex;
    border-bottom: .1px solid grey;
    border-top: .1px solid grey;
}

.rent-mortgage {
    display: flex;
    justify-content: space-between;
    width: 59.04vw;
    border-top: .1px solid gray;
    align-content: center;
    align-items: center;
    background-color: white;
    padding: .52px;
    /* font-size: 15px; */
}

.rent-mortgage > input {
    /* border: 1px solid red; */
    position: absolute;
    left: 18vw;
    height:3vh;
    width: 7vw;

}

#budget {
    position: fixed;
    top:5vh;
    right:10vw;
    text-decoration: underline;
    color: white;
    text-decoration-color: rgb(177, 171, 171);
    text-decoration-style: dashed;
}

.rent-mortgage > h4 {
    font-size: 18px;
}